<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="cardStyle.css" />
    <title>FLEXBOX</title>
  </head>
  <body>
    <div id="main-container">
      <header>
        <div id="logo-container">
          <img
            id="logo-image"
            src="https://i.pinimg.com/originals/39/52/8d/39528d8afa3ea1fc68dd688f53d8bf11.png"
            alt=""
          />
        </div>
        <div id="option-container">
          <button>
            <span>INICIO</span>
          </button>
          <button>
            <span>PRODUCTOS</span>
          </button>
          <button>
            <span>AYUDA</span>
          </button>
        </div>
        <div id="profile-container">
          <div>
            <span>Christel Fernandez</span>
          </div>
          <img
            id="profile-image"
            src="https://e7.pngegg.com/pngimages/81/570/png-clipart-profile-logo-computer-icons-user-user-blue-heroes-thumbnail.png"
            alt="PROFILE LOGO"
          />
        </div>
      </header>
      <main>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        <div class="product-card">
          <img
            src="https://1.bp.blogspot.com/-VvPCgelUH6k/URz4yqah4sI/AAAAAAAAAIM/3Hu7ZWOkyx0/s1600/equipo+de+sonido+sony+17000+watts+de+salida+nuevo+central+san+jose+san+jose+costa+rica__754524_1.jpg"
            alt=""
          />
          <div id="characteristics">
            <span id="product-title">RADIO SONNY</span>
            <span id="product-price">$200</span>
            <span id="product-other">CALIDAD</span>
          </div>
        </div>
        
      </main>
      <footer>FOOTER</footer>
    </div>
  </body>
</html>
